streamlit
langchain
langchain-classic
langchain-core
langchain-community
langchain-chroma
langchain-ollama
langchain-text-splitters
chromadb
pypdf

docx2txt
openpyxl
unstructured
msoffcrypto

rank-bm25